body{
    margin: 0;
    background-color: #004077;
    font-family: 'Work Sans', sans-serif;
    max-height: 100vh;
}
h1 {
    color: white;
    margin: 0;
}

#qr-reader{
    width: 100%;
}
header {
    background-color: #004077;
    color: white;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    padding: 2em 10px;
}

section {
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding: 1.5em;
    height: 130vh;
}
.antenna-text {
    margin-bottom: 0.5em;
    font-weight: 800;
}

input[type="text" i], input[type="password" i]  {
    height: 30px;
    font-size: medium;
}
iframe{
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 700px;
}

img{
    width: 100%;
}
.image{
    width: 100%;
}

.section{
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding: 1.5em;
    height: 100%;
}
.video{
    display: flex;
        justify-content: space-evenly;
        left: 0;
        border: 0;
        top: 0;
        padding-top: 10px;
padding-bottom: 10px;
}

.blinking-led{
    
}

.next, .submit{
    background-color: #004077;
    color: white;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
}
.next:hover,
.next:focus {
  background-color: #0f5592;
}

#container {
    text-align: center;
    margin: 0;
  }
  
  #qr-canvas {
    margin: auto;
    width: 90%;
    max-width: 400px;
  }
  
  #btn-scan-qr {
    cursor: pointer;
    transition: all 1s;
  }
  
  #btn-scan-qr img {
    height: 10em;
    padding: 15px;
    margin: 15px;
    background: white;
  }
  
  #qr-result {
    font-size: 1.2em;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    background-color: white;
  }
  .id-form{
    margin-top: 20px;
  }
